<template>
    <section>
        <div class="container">
            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-128x128">
                                <a target="_blank" :href="this.fullRef"><img :src="this.img"></a>
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4"><a target="_blank" :href="this.fullRef">{{ this.seriesTitleRu }}</a></p>
                            <p class="subtitle is-6">
                                <span>{{ this.episodeTitleRu }}</span>
                            </p>
                        </div>
                        <div class="content">
                            Дата Выхода:
                            <br>
                            <time>{{ this.releaseDate }}</time>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        data() {
            return {
                isActive: true
            }
        },
        props: {
            img:{
                type: String,
                default: "//static.lostfilm.tv/Images/280/Posters/image.jpg"
            },
            relHref:{
                type: String,
                default: "/series/The_Last_Kingdom/season_3/episode_10/"
            },
            episodeTitleRu:{
                type: String,
                default: "Эпизод 10"
            },
            seriesTitleRu:{
                type: String,
                default: "Последнее королевство"
            },
            releaseDate:{
                type: String,
                default: "2019-01-13"
            }
        },
        computed:{
            fullRef: function() {
                return "https://www.lostfilm.tv"+this.relHref
            }
        },

    }
</script>
