<template>
    <section>
        <div class="container">
            <b-field>
                <b-input v-model="search" placeholder="Название сериала/серии"></b-input>
            </b-field>
            <a class="button is-medium is-fullwidth" v-on:click="startSearch">Search</a><br>
            <b-pagination
              :total="total"
              :current.sync="this.pageNumber"
              :order="order"
              :size="size"
              :simple="isSimple"
              :rounded="isRounded"
              :per-page="perPage"
              @change="pageChange">
            </b-pagination>

            <div v-for="episode in this.episodes">
                <series :img="episode.image"
                      :relHref="episode.link"
                      :episodeTitleRu="episode.title_ru"
                      :seriesTitleRu="episode.series.title_ru"
                      :releaseDate="episode.release_date">
                </series>
            </div>
            <b-pagination
              :total="total"
              :current.sync="this.pageNumber"
              :order="order"
              :size="size"
              :simple="isSimple"
              :rounded="isRounded"
              :per-page="perPage"
              @change="pageChange">
            </b-pagination>
        </div>
    </section>
</template>

<script>
    import Series from './Series.vue'
    export default {
        data() {
            return {
              search: "",
              pageNumber: Number(this.$route.params.pageNumber),
              total: 0,
              episodes: [],
              current: 1,
              order: '',
              size: '',
              isSimple: false,
              isRounded: false,
              isLoading: false
            }
        },
        components: {series: Series},
        props: {
          perPage:{
            type: Number,
            default: 15
          }
        },
        methods: {
            pageChange: function(val) {
                this.$router.push({ name: 'episodes', params: { pageNumber: val }})
                this.pageNumber = val
                this.fetchData()
            },
            fetchData: function () {
                this.$http.get('/api/get_page/'+this.pageNumber+'/15/'+this.search).then(response => {
                    this.episodes = response.body.episodes
                    this.total = response.body.total
                });
            },
            startSearch: function () {
                this.pageChange(1)
                // this.search = val
                this.fetchData()
            }
        },
        // watch: {
        //     search: {
        //         handler: function (val) {
        //             this.pageChange(1)
        //             this.search = val
        //             this.fetchData()
        //         },
        //         immediate: false
        //     }
        // },
        mounted() {
            this.fetchData();
        }
    }
</script>
